{#{% load static i18n%}#}
{#<aside id="left-panel" class="left-panel">#}
{#    <nav class="navbar navbar-expand-sm navbar-default">#}
{##}
{#        <div class="navbar-header">#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="true" aria-label="Toggle navigation">#}
{#                <i class="fa fa-bars"></i>#}
{#            </button>#}
{#<!--            <a class="navbar-brand" href="{% url 'home_page' %}"><img src="{% static '/images/logo.png' %}" alt="Logo"></a>-->#}
{#<!--            <a class="navbar-brand hidden" href="{% url 'home_page' %}"><img src="{% static '/images/camera.png' %}" alt="Logo"></a>-->#}
{#        </div>#}
{##}
{#        <div id="main-menu" class="main-menu collapse navbar-collapse">#}
{#            <ul class="nav navbar-nav">#}
{#                <li {#  class="active" #}>
{#                    <a href="{% url 'home_page' %}"> <i class="menu-icon fa fa-video-camera" style="color: black"></i><strong>{% trans 'Göni ýaýlym' %}</strong></a>#}
{#                </li>#}
{#                <!-- /.menu-title -->#}
{##}
{##}
{#            </ul>#}
{#        </div><!-- /.navbar-collapse -->#}
{#    </nav>#}
{#</aside>#}